/* Coolors Exported Palette - https://coolors.co/171738-2e1760-3423a6-7180b9-dff3e4 */

/* CSS HEX */
--space-cadet: #171738ff;
--federal-blue: #2e1760ff;
--zaffre: #3423a6ff;
--glaucous: #7180b9ff;
--honeydew: #dff3e4ff;

/* CSS HSL */
--space-cadet: hsla(240, 42%, 15%, 1);
--federal-blue: hsla(259, 61%, 23%, 1);
--zaffre: hsla(248, 65%, 39%, 1);
--glaucous: hsla(228, 34%, 58%, 1);
--honeydew: hsla(135, 45%, 91%, 1);

/* SCSS HEX */
$space-cadet: #171738ff;
$federal-blue: #2e1760ff;
$zaffre: #3423a6ff;
$glaucous: #7180b9ff;
$honeydew: #dff3e4ff;

/* SCSS HSL */
$space-cadet: hsla(240, 42%, 15%, 1);
$federal-blue: hsla(259, 61%, 23%, 1);
$zaffre: hsla(248, 65%, 39%, 1);
$glaucous: hsla(228, 34%, 58%, 1);
$honeydew: hsla(135, 45%, 91%, 1);

/* SCSS RGB */
$space-cadet: rgba(23, 23, 56, 1);
$federal-blue: rgba(46, 23, 96, 1);
$zaffre: rgba(52, 35, 166, 1);
$glaucous: rgba(113, 128, 185, 1);
$honeydew: rgba(223, 243, 228, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-right: linear-gradient(90deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-bottom: linear-gradient(180deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-left: linear-gradient(270deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-top-right: linear-gradient(45deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-bottom-right: linear-gradient(135deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-top-left: linear-gradient(225deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-bottom-left: linear-gradient(315deg, #171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);
$gradient-radial: radial-gradient(#171738ff, #2e1760ff, #3423a6ff, #7180b9ff, #dff3e4ff);